app-menu {
  display: none;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.navBarContainer {
  height: 70px;
  border-bottom: 1px solid grey;
}

.logo {
  margin-bottom: 3px;
  margin-top: 8px;
  height: 58px;
  display: flex;
  justify-content: center;
}
.signout{
  height: 10px;
  width: 10px;
}

.center{
  background: transparent;
  border: none;
  outline: none;
}
@media (max-width: 750px) {
  app-menu {
      display: block;
  }
  app-nav-items {
      display: none;
  }
  app-search-bar {
      display: none;
  }
  .disable {
      display: none;
  }
  .center {
      display: flex;
      align-items: center;
      justify-content: center;

  }
  .center {
      display: none;
  }
}

#title{
  margin-right: 30px;
}
.mat-form-field{
  font-size: 13px;
}
.mat-button{
  height: 33px;
}
.mat-toolbar{
  background-color: green;
  color: white;
}
.mat-error, .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element{
  color: white !important;
  border-bottom-color: white !important;
}
.mat-focused .placeholder{
  color: white;
}
::ng-deep .form-field.mat-form-field-appearance-legacy .mat-form-field-underline,
.form-field.mat-form-field-appearance-legacy .mat-form-field-ripple,
.form-field.mat-form-field-appearance-legacy.mat-focused
  .mat-form-field-underline,
.form-field.mat-form-field-appearance-legacy.mat-focused
  .mat-form-field-ripple {
  background-color: white !important;
  border-bottom-color: white !important;
}
/** Overrides label color **/
::ng-deep .form-field.mat-form-field-appearance-legacy .mat-form-field-label,
.form-field.mat-form-field-appearance-legacy.mat-focused
  .mat-form-field-label {
  color: white !important;
  border-bottom-color: white !important;
}
/** Overrides caret & text color **/
::ng-deep .form-field.mat-form-field-appearance-legacy .mat-input-element {
  caret-color: white !important;
  color: white !important;
  border-bottom-color: white !important;
}
